@model IEnumerable<GestorAlquilerVehiculos.Models.Notificacion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reserva.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NotificacionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NotificacionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NotificacionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
