@model GestorAlquilerVehiculos.Models.EntregaDevolucion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EntregaDevolucion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserva.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargosAdicionales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargosAdicionales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EntregaDevolucionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
