@model IEnumerable<GestorAlquilerVehiculos.Models.EntregaDevolucion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargosAdicionales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDevolucion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reserva.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargosAdicionales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDevolucion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EntregaDevolucionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EntregaDevolucionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EntregaDevolucionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
