@model IEnumerable<GestorAlquilerVehiculos.Models.Reporte>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoReporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaGeneracion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.ContrasenaHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoReporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaGeneracion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReporteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReporteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReporteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
